body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-wrapper {
  width: 550px;
  margin: 10px auto;
  border: 1px solid #cccccd;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
  padding: 20px;
  border-radius: 3px;
}

.credit-card-wrapper {
  padding: 5px;
  width: 300px;
  height: 200px;
  perspective: 1000px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: transparent;
  margin: auto;
}

.credit-card-inner {
  padding: 5px;
  perspective: 1000px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.credit-card-front,
.credit-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* front credit card */
.credit-card-front {
  border-radius: 14.5px;
  width: 290px;
  height: 180px;
  margin: auto;
  position: absolute;
  background-color: #999999;
  color: black;
}

/* flip here */
.flip-to-back {
  transform: rotateY(180deg);
}

/* back create card */
.credit-card-back {
  background-color: #999999;
  border-radius: 14.5px;
  width: 290px;
  height: 180px;
  margin: auto;
  position: absolute;
  transform: rotateY(180deg);
}

.chip {
  width: 42px;
  height: 26px;
  top: 10%;
  left: 10%;
  position: absolute;
}

.card-number {
  width: 228px;
  height: 28px;
  top: 42%;
  left: 10%;
  font-size: 20px;
  position: absolute;
  font-weight: 700;
  text-align: justify;
}

.card-name {
  width: 228px;
  height: 28px;
  bottom: 10%;
  left: 10%;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 60%;
  position: absolute;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-expire {
  bottom: 15%;
  font-size: 0;
  line-height: 1;
  position: absolute;
  right: 10%;
}

.expire-text {
  font-size: 10px;
  margin-bottom: 5px;
}

.expire-value {
  font-size: 20px;
  font-weight: 700;
}

.card-strip {
  background-color: #2a1d16;
  height: 22%;
  left: 0;
  position: absolute;
  top: 9%;
  width: 100%;
}

.card-sign-here {
  background: repeating-linear-gradient(
    0.1deg,
    #fff 20%,
    #fff 40%,
    #fea 40%,
    #fea 44%,
    #fff 44%
  );
  height: 18%;
  left: 5%;
  position: absolute;
  top: 35%;
  width: 75%;
}

.card-cvc {
  color: #222;
  font-size: 14px;
  left: 67%;
  line-height: 1;
  position: absolute;
  top: 42%;
}

.form-row:first-child {
  width: 80%;
  padding: 8px 5px 4px 5px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-row:not(:first-child) {
  width: 80%;
  padding: 0 5px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-input {
  display: block;
  margin: 2px auto;
  width: 424px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px 9px;
}

.form-input-error {
  display: block;
  margin: 2px auto;
  width: 424px;
  height: 32px;
  border: 1px solid #f55d5d;
  box-shadow: 1px 1px 5px #e98787;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px 9px;
}

.error-text {
  display: block;
  font-size: 14px;
  padding-left: 8px;
  color: #f73131;
  /* position: absolute; */
}

.half-form-row {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.half-form-row > div {
  width: 50%;
  padding: 6px 9px;
}

.half-form-input {
  /* display: block; */
  width: 100%;
  margin: 2px auto;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px 9px;
}

.half-form-input-error {
  /* display: block; */
  width: 100%;
  margin: 2px auto;
  height: 32px;
  border: 1px solid #f55d5d;
  box-shadow: 1px 1px 5px #e98787;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px 9px;
}

.half-error-text {
  display: block;
  padding-left: 4px;
  font-size: 14px;
  color: #f73131;
}

.data-preview {
  width: 485px;
  min-height: 15px;
  border: 1px solid #ccc;
  background-color: #eeedee;
  box-shadow: inset 1px 1px 3px rgb(0 0 0 / 20%);
  padding: 20px;
  margin: 13px auto;
}

.button-wrapper {
  width: 80%;
  margin: auto;
  padding: 8px 5px;
  display: flex;
  justify-content: center;
}

.button-wrapper > button {
  width: 80px;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.button-wrapper > button:first-child {
  background-image: linear-gradient(#4f93ce, #285f8f);
  border: 1px solid #285f8f;
  color: white;
}

.button-wrapper > button:last-child {
  background-image: linear-gradient(#ffffff, #d5d5d5);
  border: 1px solid #d5d5d5;
  color: #555;
}

.card-text {
  color: #ebebeb;
  opacity: 0.8;
  transform: opacity 0.3s;
}

.card-text-focus {
  color: white;
  font-weight: 700;
  opacity: 1;
}
